<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <title>TuneTime</title>
</head>
<body>
<script src="{{url_for('static', filename='index.js')}}"></script>
<div class="page_wrapper font-poppins">
    <div class="card_outer">
        <div class="card_picture"></div>
        <div class="card_body">
            <h2 class="form_title">TuneTime</h2>
            <form action="/buildPlaylist">
                <input name="use_calendar_state_checkbox" type="checkbox" id="use_calendar_state_checkbox" value="song_source">
                <label for="use_calendar_state_checkbox" id="use_calendar_state_checkbox_label">Using Calendar Events</label><br>
                <input type="date" id="event_date_select" name="event_date_select">
                <div name="events_container" class="song_source" id="events_container"></div>
                <input name="first_song" id="first_song" type="text" placeholder="First song" required=true class="non-events front-page-input"><br>
                <input name="last_song" id="last_song" type="text" placeholder="Last Song" required=true class="front-page-input"><br>
                <input id="steps_input" name="steps_input" type="text" placeholder="# of songs" required=true class="non-events front-page-input"><br>
                <input name="token" type="hidden" value="{{ data }}"></input>
                <input id="events" name="events" type="hidden" value="{{ events }}"></input>
                <input id="last_selected_event" name="last_selected_event" type="hidden" value="-1">
                <input type="submit" value="Submit" id="submit_button"></input>
                <div id="loading_sign">Loading<span id="load_span"></span></div>
            </form>
        </div>
    </div>  
</div>
</body>
</html>