<!DOCTYPE html>
<html>
<head>
    <script src=
        "https://code.jquery.com/jquery-1.12.4.min.js">
    </script>
    <link href="{{ url_for('static',filename='styles/main.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
</head>
<body>
<div class="page_wrapper font-poppins">
    <div class="card_outer">
        <div class="card_picture"></div>
        <div class="card_body">
            <h2 class="form_title">Playlist Created</h2>
            <h3 class="info">Playlist URL: </h3>
            <h3 class="info">Created by: </h3>
            <h3 class="info">Developer: </h3>
            <h3 class="info">Source Code: </h3>
            <h3 class="info">Connect with me!</h3>
        </div>
    </div>  
</div>